*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-pading, 100px);
}

:root {
  /* Primary Color  */
  --white-title: #ffffff;
  --button-primary: rgb(247, 80, 35);
  --secondary-orange: rgb(247, 80, 35);
  --primary--green: rgb(28, 190, 89);
  --secondary--yellow: rgb(240, 196, 92);
  --description: rgb(185, 181, 201);

  /* Secondary Color */
  --background-color: #2b2d33;
  --background-service: rgb(75, 79, 92);
  --background-subscribe: rgba(128, 103, 240, 0.92);
  --color-address: rgb(247, 80, 35);
  --background-address: rgb(254, 223, 215);
  --color-email: rgb(28, 190, 89);
  --background-email: rgb(221, 245, 230) !important;
  --color-phone: rgb(128, 103, 240);
  --background-phone: rgb(236, 232, 253) !important;
  --background-footer: rgb(63, 68, 83);

  /* Background reactjs */
  --reactjs: #390000;
  --redux: #001631;
  --figma: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--description);
  overflow-x: hidden;
  width: 100%;
}

::placeholder {
  color: #b9b5c9;
}
h3 {
  font-weight: 500;
  color: var(--white-title);
  font-family: "Jost", sans-serif;
}
span {
  font-size: 19px;
  line-height: 24px;
  font-weight: 500;
}
li {
  font-family: "Jost", sans-serif;
  line-height: 30px;
  font-weight: 500;
  color: var(--white-title);
  list-style: none;
  line-height: 30px;
  cursor: pointer;
}
li:hover {
  color: var(--button-primary);
}

img {
  vertical-align: middle;
  max-width: 100%;
}
.button {
  position: relative;
  font-family: "Jost", sans-serif;
  padding: 0.8rem 2.4rem;
  width: max-content;
  color: var(--white-title);
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  outline: 2px solid var(--button-primary);
  outline-offset: -2px;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--button-primary);
  top: 0;
  left: 0;
  z-index: -1;
  transform: scaleY(1);
  transition: transform 200ms ease-in;
  transform-origin: bottom;
}
.button:hover:after {
  transform: scaleY(0);
  transform-origin: bottom;
}
/* **** Styling the mobile Version **** */
.button {
  padding: 18px 50px;
  font-size: 18px;
}
.span__header {
  margin-bottom: 6px;
  color: var(--button-primary);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  font-family: jost, sans-serif;
}

.h3__header {
  margin: 0px 0px 16px;
  font-size: 48px;
  line-height: 60px;
}
.p__header {
  font-size: 18px;
  line-height: 30px;
}
.h3__about {
  margin-top: 6px;
  font-size: 48px;
  line-height: 60px;
}

@media (max-width: 1600px) {
  .button {
    padding: 9px 35px;
    font-size: 16px;
  }
}
@media (max-width: 1232px) {
  .span__header {
    margin-bottom: 6px;
    color: var(--button-primary);
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    font-family: jost, sans-serif;
  }
  .h3__about {
    margin-top: 6px;
    font-size: 40px;
    line-height: 50px;
  }
  .h3__header {
    margin: 0px 0px 16px;
    font-size: 38px;
    line-height: 48px;
  }
  .p__header {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 1040px) {
  .span__header {
    margin-bottom: 6px;
    color: var(--button-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: jost, sans-serif;
  }
  .h3__header {
    margin: 0px 0px 16px;
    font-size: 35px;
    line-height: 44px;
  }
  .p__header {
    font-size: 16px;
    line-height: 30px;
  }

  .h3__about {
    font-size: 35px;
    line-height: 44px;
    max-width: 100%;
    text-align: center;
  }
}
a {
  text-decoration: none;
  color: var(--white-title);
  border: none;
}
.app__content {
  background-color: var(--background-color);
}

/* **** Styling the header the version Desktop *****/

/* **** Styling the header Content ***** */

/* *** Styling the content Version Desktop ***** */

/* Styling the detaills content Version Desktop */

/* **** Styling the about section Version desktop **** */

/* **** Styling the porfolio Version desktop **** */

/* *** Stlying the skills For verions Desktop **** */

/* ***Styling the Service for version Deskop *** */

/* ***** Styling the contact section for version desktop ***** */

/* Styling the spinner  */
