*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-pading, 100px);
}

:root {
  /* Primary Color  */
  --white-title: #ffffff;
  --button-primary: rgb(247, 80, 35);
  --secondary-orange: rgb(247, 80, 35);
  --primary--green: rgb(28, 190, 89);
  --secondary--yellow: rgb(240, 196, 92);
  --description: rgb(185, 181, 201);

  /* Secondary Color */
  --background-color: #2b2d33;
  --background-service: rgb(75, 79, 92);
  --background-subscribe: rgba(128, 103, 240, 0.92);
  --color-address: rgb(247, 80, 35);
  --background-address: rgb(254, 223, 215);
  --color-email: rgb(28, 190, 89);
  --background-email: rgb(221, 245, 230) !important;
  --color-phone: rgb(128, 103, 240);
  --background-phone: rgb(236, 232, 253) !important;
  --background-footer: rgb(63, 68, 83);

  /* Background reactjs */
  --reactjs: #390000;
  --redux: #001631;
  --figma: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--description);
  overflow-x: hidden;
  width: 100%;
}

.app__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.audio {
  bottom: 30px;
  right: 0;
  position: fixed;
  padding: 0 30px;
  z-index: 2000;
}
.audio i {
  cursor: pointer;
  opacity: 70%;
  font-size: 33px;
  color: var(--white-title);
}

::placeholder {
  color: #b9b5c9;
}
h3 {
  font-weight: 500;
  color: var(--white-title);
  font-family: "Jost", sans-serif;
}
span {
  font-size: 19px;
  line-height: 24px;
  font-weight: 500;
}
li {
  font-family: "Jost", sans-serif;
  line-height: 30px;
  font-weight: 500;
  color: var(--white-title);
  list-style: none;
  line-height: 30px;
  cursor: pointer;
}
li:hover {
  color: var(--button-primary);
}

img {
  vertical-align: middle;
  max-width: 100%;
}
.button {
  position: relative;
  font-family: "Jost", sans-serif;
  padding: 0.8rem 2.4rem;
  width: max-content;
  color: var(--white-title);
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  outline: 2px solid var(--button-primary);
  outline-offset: -2px;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--button-primary);
  top: 0;
  left: 0;
  z-index: -1;
  transform: scaleY(1);
  transition: transform 200ms ease-in;
  transform-origin: bottom;
}
.button:hover:after {
  transform: scaleY(0);
  transform-origin: bottom;
}
/* **** Styling the mobile Version **** */
.button {
  padding: 18px 50px;
  font-size: 18px;
}
.span__header {
  margin-bottom: 6px;
  color: var(--button-primary);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  font-family: jost, sans-serif;
}

.h3__header {
  margin: 0px 0px 16px;
  font-size: 48px;
  line-height: 60px;
}
.p__header {
  font-size: 18px;
  line-height: 30px;
}
.h3__about {
  margin-top: 6px;
  font-size: 48px;
  line-height: 60px;
}

@media (max-width: 1600px) {
  .button {
    padding: 9px 35px;
    font-size: 16px;
  }
}
@media (max-width: 1232px) {
  .span__header {
    margin-bottom: 6px;
    color: var(--button-primary);
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    font-family: jost, sans-serif;
  }
  .h3__about {
    margin-top: 6px;
    font-size: 40px;
    line-height: 50px;
  }
  .h3__header {
    margin: 0px 0px 16px;
    font-size: 38px;
    line-height: 48px;
  }
  .p__header {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 1040px) {
  .span__header {
    margin-bottom: 6px;
    color: var(--button-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: jost, sans-serif;
  }
  .h3__header {
    margin: 0px 0px 16px;
    font-size: 35px;
    line-height: 44px;
  }
  .p__header {
    font-size: 16px;
    line-height: 30px;
  }

  .h3__about {
    font-size: 35px;
    line-height: 44px;
    max-width: 100%;
    text-align: center;
  }
}

/* **** Styling the header the version Desktop *****/
.app {
  overflow: hidden;
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}
.app__header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/background_header.jpg");
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 25px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgb(255 255 255 / 5%);
  backdrop-filter: blur(5px);
}
.header__menue {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0 40px;
  position: relative;
  clear: both;
}
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  cursor: pointer;
  align-self: center;
  z-index: 4;
}

.header__logo > img {
  max-width: 150px;
  max-height: 80px;
  vertical-align: middle;
}
.header__links {
  display: flex;
  position: sticky;
}
.header__links ul {
  display: flex;
  gap: 3rem;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--white-title);
  border: none;
}

.header__links > ul > li:nth-last-child(1) {
  padding: 8px 35px 7px;
  width: max-content;
  color: var(--white-title);
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  outline: 2px solid var(--button-primary);
  position: relative;
  z-index: 1;
}

.header__links > ul > li:nth-last-child(1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: scaleY(0);
  background-color: var(--button-primary);
  transition: transform 200ms ease-in;
  transform-origin: top;
  z-index: -1;
}

.header__links > ul > li:nth-last-child(1):hover:after {
  transform: scaleY(1);
  transform-origin: bottom;
}
.current {
  color: var(--button-primary);
}

.mobile__nav {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.header__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin: auto;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  transition: all 1.3s ease;
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
}

.h3__sm {
  font-size: 45px;
  line-height: 59px;
  color: var(--secondary-orange);
}
.h3__lg {
  font-size: 85px;
  line-height: 111px;
}
.p__content,
.span__content,
.span__place {
  font-size: 28px;
  line-height: 30px;
  font-weight: 500;
}
.text {
  color: var(--white-title);
  font-size: 23px;
  line-height: 35px;
}
.content__right > img {
  max-height: 650px;
}

/* **** Styling the header Content ***** */
.app__content {
  background-color: var(--background-color);
}
.header__content {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.detaills__container {
  width: 100%;
  height: 100vh;
  clear: both;
  float: left;
  position: relative;
  margin-bottom: 190px;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 0 40px;
  position: relative;
  clear: both;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__left {
  width: 50%;
  padding-right: 20px;
}

.content__left p > span:nth-child(1) {
  color: var(--primary--green);
}

.content__left p > span:nth-child(2) {
  color: var(--secondary--yellow);
}
.text {
  padding: 0 0 2rem 0;
}
.content__right {
  position: relative;
  width: 50%;
  padding-left: 100px;
}

.p__content {
  color: var(--white-title);
  padding: 1.3rem 0 2rem;
  font-weight: 500;
}
.span__content {
  color: var(--primary--green);
}
.span__place {
  color: var(--secondary--yellow);
}

.reactjs,
.redux,
.scss {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
}

.reactjs {
  background-color: rgb(33, 33, 33);
  top: 40px;
  left: 75px;
  animation: reactjs 5s infinite linear;
}
.reactjs > img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}
/*Animation reactjs*/
@keyframes reactjs {
  0% {
    top: 40px;
  }

  50% {
    top: 60px;
  }
  0% {
    top: 40px;
  }
}

.redux {
  background-color: rgb(29, 29, 29);
  right: 60px;
  top: 100px;
  animation: redux 5s linear infinite;
}
.redux > img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}
@keyframes redux {
  0% {
    top: 100px;
  }

  50% {
    top: 130px;
  }
  0% {
    top: 100px;
  }
}
.scss {
  bottom: 50px;
  right: 330px;
  background-color: var(--figma);
  animation: figma 5s infinite linear alternate;
}
.scss > img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

@keyframes figma {
  0% {
    bottom: 50px;
  }

  50% {
    bottom: 30px;
  }
  0% {
    bottom: 50px;
  }
}
.close {
  cursor: pointer;
  display: none;
}
/* **** Styling the header Menue For version Mobile **** */

@media (max-width: 1680px) {
  .header__links {
    display: flex;
  }
  .header__logo {
    align-self: center;
  }
  .header__logo > img {
    max-width: 150px;
    max-height: 80px;

    vertical-align: middle;
  }
  .header__links ul {
    gap: 3rem;
  }
}

@media (max-width: 1600px) {
  body {
    font-size: 16px;
  }
  .h3__sm {
    font-size: 25px;
    line-height: 33px;
    color: var(--secondary-orange);
  }
  .h3__lg {
    font-size: 60px;
    line-height: 78px;
  }
  .p__content,
  .span__content,
  .span__place {
    font-size: 19px;
    line-height: 30px;
    font-weight: 500;
    color: var(--white-title);
  }
  .text {
    color: var(--white-title);
    font-size: 16px;
    line-height: 24px;
    max-width: 90%;
  }
  .content__right > img {
    max-height: 400px;
  }
  .header__menue {
    max-width: 1170px;
  }
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1478.4px) {
  body {
    font-size: 16px;
  }
  .header__links ul {
    gap: 1.875rem;
  }
  .header__links > ul > li:nth-last-child(1) {
    padding: 5px 25.2px 5px;
  }

  .header__links {
    display: flex;
  }
  .header__logo > img {
    max-width: 110px;
    height: auto;
    vertical-align: middle;
  }

  .reactjs,
  .redux,
  .scss {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
  }

  .reactjs {
    background-color: rgb(33, 33, 33);
    top: 40px;
    left: 75px;
    animation: reactjs 3s infinite linear;
  }
  .reactjs > img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
  }

  /*Animation reactjs*/

  .redux {
    background-color: rgb(29, 29, 29);
    right: 110px;
    top: 100px;
    animation: redux 3s linear infinite alternate;
  }
  .redux > img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
  }

  .scss {
    bottom: 10px;
    right: 300px;
    background-color: var(--figma);
    animation: figma 3s infinite linear alternate;
  }
  .scss > img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
  }

  @keyframes figma {
    0% {
      bottom: 10px;
    }

    50% {
      bottom: 20px;
    }
    0% {
      bottom: 10px;
    }
  }
}

@media (max-width: 1040px) {
  header {
    padding: 10px 20px;
  }
  .close {
    display: block;
  }
  .header__links > ul > li:nth-last-child(1) {
    padding: 5px 25px;
  }

  .header__menue {
    display: flex;
  }
  .header__links {
    display: none;
    position: absolute;
    margin: auto;
    z-index: 2;
    top: 75px;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 1.3s ease;
    background-color: var(--background-color);
    width: calc(100% - 9%);
    height: 400px;
    z-index: 3;
    border-radius: 50px;
    box-shadow: 0 60px 140px 160px rgb(0 0 0 / 40%);
  }
  .header__links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .fa-circle-xmark {
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 30px;
    z-index: 3;
    color: var(--white-title);
  }

  .mobile__nav {
    display: block;
  }
  .mobile__nav i {
    font-size: 25px;
    color: var(--white-title);
  }
  .header__logo img {
    max-width: 220px;
    max-height: 220px;
  }
  .header__content {
    flex-direction: column;
  }

  .header__logo > img {
    width: 90px;
    max-height: 70px;
    height: auto;
    vertical-align: middle;
  }
  .reactjs,
  .redux,
  .scss {
    display: none;
  }
  .header__menue {
    padding: 0 20px;
  }
  .container {
    padding: 0 20px;
  }
  .header__content {
    flex-direction: column;
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .content__left,
  .contact__right {
    text-align: center;
  }
  .content__left {
    margin-top: 30px;
    width: 100%;
    padding-right: 0;
    text-align: center;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content__right {
    order: 1;
    width: auto;
    padding: 0;
  }

  .content__right > img {
    max-width: 300px;
    max-height: 300px;
    margin: 0;
  }
  .h3__sm {
    font-size: 25px;
    line-height: 33px;
    color: var(--secondary-orange);
  }
  .h3__lg {
    font-size: 55px;
    line-height: 72px;
  }
  .p__content,
  .span__content,
  .span__place {
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
  }
  .p__content {
    padding: 11px 0 23px;
  }
  .text {
    color: var(--white-title);
    font-size: 20px;
    line-height: 30px;
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .h3__sm {
    font-size: 21px;
    line-height: 27px;
    color: var(--secondary-orange);
  }

  .h3__lg {
    font-size: 42px;
    line-height: 55px;
  }
  .p__content,
  .span__content,
  .span__place {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
  }

  .p__content {
    padding: 11px 0 15px;
  }
  .text {
    color: var(--white-title);
    font-size: 16px;
    line-height: 24px;
  }
  .content__right > img {
    max-width: 220px;
    max-height: 220px;
  }
}
/* *** Styling the content Version Desktop ***** */

/* Styling the detaills content Version Desktop */
.app__detaills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 11.875rem 7.6rem;
  gap: 4rem;
  text-align: center;
  align-items: center;
  width: min(100%, 1560px);
  margin-inline: auto;
}
.app__detaills > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  width: 100%;
}
.app__detaills > div > p {
  margin-top: 1.25rem;
  width: 100%;
}
.detaills__image {
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: all 0.4s ease;
  margin-bottom: 1.875rem;
}
.detaills__image > img:first-child() {
  max-width: 125px;
  position: relative;
}
.detaills__image > img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}
.detaills__image img {
  object-fit: cover;
  width: 100%;
}
.app__detaills h3 {
  font-size: 24px;
  line-height: 31.2px;
}

/* ****styling the content Section Verions Mobile .**** */

@media (max-width: 1920px) {
  .app__detaills {
    padding: 11.875rem 16.1rem;
    gap: 3.6rem;
    width: 100%;
  }
}

@media (max-width: 1680px) {
  .app__detaills {
    padding: 11.875rem 11rem;
    gap: 4rem;
  }
  .detaills__image > img:nth-child(1) {
    width: 90px;
  }
  .detaills__image > img:nth-child(2) {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 1478.4px) {
  .app__detaills {
    padding: 11.875rem 9.6rem;
  }
}

@media (max-width: 1232px) {
  .app__detaills {
    padding: 11.875rem 2.5rem;
  }
}
@media (max-width: 1040px) {
  .app__detaills {
    display: grid;
    grid-template-columns: none;
    grid-template-row: repeat(3, 1fr);
    padding: 6rem 20px;
    gap: 5.3rem;
    text-align: center;
    align-items: center;
    width: min(100%, 1560px);
    margin-inline: auto;
  }
}

/* **** Styling the about section Version desktop **** */
.app__about {
  position: relative;
  width: 100%;
}
.about {
  padding: 0rem 7.6rem 5rem;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  width: min(100%, 1560px);
  margin-inline: auto;
}

.image__about__left,
.images__about__right {
  position: absolute;
}
.image__about__left {
  left: 120px;
  top: -100px;
}
.images__about__right {
  bottom: 10px;
  right: 0;
}
.about__left {
  width: 50%;
  position: relative;
}

.about__left > img:nth-child(1) {
  max-height: 800px;
}
.about__years {
  position: absolute;
  background-color: var(--background-service);
  left: -50px;
  top: 100px;
  padding: 34px 40px 31px 36px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.years,
.totale__project {
  font-size: 60px;
  line-height: 78px;
  font-weight: 500;
  font-family: Jost;
}
.years {
  color: var(--color-email);
}
.totale__project {
  color: var(--secondary--yellow);
}
.project {
  font-size: 21px;
  line-height: 27px;
  color: var(--white-title);
  font-weight: 500;
  font-family: Jost;
}
.about__project {
  position: absolute;
  background-color: var(--background-service);
  right: 0;
  bottom: 55px;
  padding: 14px 30px 11px 26px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right__detaills {
  margin: 1.5rem 0 3rem;
  line-height: 30px;
  text-align: start;
}
.about__right {
  width: 50%;
  padding-left: 60px;
}

/* **** Stying the about section version mobile ***** */
@media (max-width: 1600px) {
  .about__years {
    padding: 25px 30px 21px 26px;
  }
  .years,
  .totale__project {
    font-size: 50px;
    line-height: 65px;
  }

  .project {
    font-size: 18px;
    line-height: 23px;
  }
  .about__project {
    padding: 14px 26px 11px 26px;
  }
}
@media (max-width: 1478.4px) {
  .about {
    padding: 0rem 9.6rem;
  }
}

@media (max-width: 1232px) {
  .about {
    padding: 0rem 2.5rem;
  }
}
@media (max-width: 1056) {
  .about {
    padding: 0rem 10px;
  }
}
@media (max-width: 1040px) {
  .about {
    padding: 2rem 20px;
    row-gap: 4rem;
    flex-direction: column;
    text-align: center;
  }
  .about__right,
  .about__left {
    width: 100%;
  }
  .about__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__images {
    display: none;
  }

  .right__detaills {
    text-align: center;
  }
  .about__right {
    padding-left: 0;
  }
  .about__project,
  .about__years {
    display: none;
  }

  .about__left > img:nth-child(1) {
    max-width: 300px;
    max-height: 300px;
  }
}

/* **** Styling the porfolio Version desktop **** */
.app__portfolio {
  display: flex;
  padding: 11.5625rem 0rem 5rem;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
}
.background__left {
  position: absolute;
  top: 150px;
  left: 50px;
}
.background__bottom {
  position: absolute;
  bottom: 60px;
  right: 10px;
  z-index: -1;
}
.portfolio__header {
  padding: 0 7.6rem;
  width: min(100%, 1560px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__images {
  padding: 0 7.6rem;
  width: min(100%, 1560px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__header p {
  width: 70%;
}

.portfolio__images > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header > ul {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  padding: 4.875rem 0 3.5rem;
}
.active {
  color: var(--button-primary);
}
/* .header > ul > li:nth-child(1) {
  color: var(--button-primary);
} */
.header > ul > li {
  cursor: pointer;
}
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: auto;
  padding-bottom: 3.5rem;
}

.images > div {
  cursor: pointer;
  transform: scale(1) translateZ(0);
  position: relative;
}
/* .images > div:hover {
  box-shadow: 0 0 25px rgba(208, 208, 208, 0.758);
} */
.images > div > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 12px;
}

/* ***** Syling the portfolio version mobile ***** */

@media (max-width: 1478.4px) {
  .app__portfolio {
    padding: 14rem 9.6rem 5rem;
  }
  .portfolio__header {
    padding: 0;
  }
  .portfolio__images {
    padding: 0;
  }
}

@media (max-width: 1232px) {
  .app__portfolio {
    padding: 5rem 2.5rem;
  }
  .portfolio__header {
    padding: 0;
  }
  .portfolio__images {
    padding: 0;
  }
}
@media (max-width: 1040px) {
  .app__portfolio {
    display: flex;
    padding: 8rem 20px;
    width: 100%;
  }
  .portfolio__header {
    padding: 0;
  }
  .portfolio__images {
    padding: 0 20px;
    width: 100%;
  }
  .portfolio__header p {
    width: 100%;
  }
  .header > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .background__left {
    position: absolute;
    top: -20px;
    left: 30px;
  }
  .background__bottom {
    position: absolute;
    bottom: -10px;
    right: -200px;
    z-index: -1;
  }
}

@media screen and (max-width: 769px) {
  .images {
    display: flex;
    flex-direction: column;
  }
}

/* *** Stlying the skills For verions Desktop **** */
.app__skills {
  display: flex;
  padding: 5rem 7.6rem;
  align-items: flex-start;
  width: min(100%, 1560px);
  margin-inline: auto;
  justify-content: space-between;
}
.skills__left h3 {
  width: 90%;
}
.skills__left p {
  line-height: 30px;
}
.skills__left,
.skills__right {
  flex-basis: 50%;
}
.skills__left {
  margin-top: 7rem;
  padding-right: 50px;
}
.skills__right {
  padding-left: 100px;
}
.skills__right > img {
  max-height: 800px;
}

.skills_img {
  padding-top: 3.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-items: flex-start;
}
.skills_img > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__icon {
  display: flex;
  flex-direction: column;
  background-color: var(--background-footer);
  border-radius: 50%;
  height: 90px;
  width: 90px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.skills_img img {
  object-fit: cover;
  height: 50%;
  width: 50%;
}

.app__work-hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.work__Link {
  display: flex;
}
.work__Link div {
  position: relative;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 1rem;
  font-family: var(--font-base);
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
}
.fa-brands,
.fa-solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

/* Styling the service section for the mobile verions  */

@media (max-width: 1478.4px) {
  .app__skills {
    padding: 1.3rem 9.6rem;
  }

  .skills_img {
    padding-top: 2.5rem;
    gap: 1rem;
  }
  .skills__icon {
    height: 70px;
    width: 70px;
  }
}

@media (max-width: 1232px) {
  .app__skills {
    padding: 5rem 2.5rem;
  }
}
@media (max-width: 1040px) {
  .app__skills {
    display: flex;
    padding: 5rem 20px;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .skills__left,
  .skills__right {
    flex-basis: auto;
  }
  .skills__left {
    margin-top: 7rem;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .skills_img {
    width: 100%;
    justify-content: center;
  }
  .skills__right img {
    max-height: 600px;
  }
  .skills__right {
    padding-left: 0px;
  }
}
/* ***Styling the Service for version Deskop *** */
.app__service {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-inline: auto;
  margin-inline: auto;
  position: relative;
  width: 100%;
  padding: 0 0 10rem;
  overflow-x: hidden;
}
.service__image__left {
  position: absolute;
  top: 200px;
  left: 0;
  z-index: 1;
}
.service__image__left img {
  max-width: 460px;
}
.service__image__right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.service__header {
  width: min(100%, 1560px);
  padding: 5rem 7.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service__header > p {
  width: 50%;
}
.service_list {
  width: min(100%, 1560px);
  padding: 0rem 7.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  position: relative;
  z-index: 2;
}
.service_list > div {
  background-color: var(--background-service);
  padding: 2rem;
  border-radius: 12px;
  display: flex;
}
.list__left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  position: relative;
}
.list__left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.list__right {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.list__right > h3 {
  font-size: 25px;
}
.list__right span {
  color: var(--white-title);
  font-size: 18px;
  padding-bottom: 19px;
}
.price {
  font-size: 20px;
  color: #f75023 !important;
}
/* ***** Styling the section service for the mobile **** */

@media (max-width: 1478.4px) {
  .service__header {
    padding: 5rem 9.6rem;
  }
  .service_list {
    padding: 0rem 9.6rem;
  }
}

@media (max-width: 1232px) {
  .service__header {
    padding: 5rem 2.5rem;
  }
  .service_list {
    padding: 0rem 2.5rem;
  }
}

@media (max-width: 1040px) {
  .app__service {
    padding: 0 0 3rem;
  }
  .service__header {
    width: min(100%, 1560px);
    padding: 5rem 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .service__header > p {
    width: 100%;
  }
  .service_list {
    width: min(100%, 1560px);
    padding: 0rem 18px;
    grid-template-columns: none;
    grid-template-rows: repeat((4, 1fr));
  }
  .service__image__right {
    display: none;
  }
}

/* ***** Styling the contact section for version desktop ***** */
.app__contact {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.contact__header {
  width: min(100%, 1560px);
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0rem 7.6rem;
}
.contact__header p {
  width: 60%;
}
.contact__address {
  width: min(100%, 1560px);
  padding: 6rem 7.6rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
.contact__left,
.contact__right {
  flex-basis: 50%;
}
.contact__left {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.contact__left h3 {
  font-size: 1.875em;
  line-height: 39px;
  margin-bottom: 0.3125em;
}

.left__address,
.left__email,
.left__phone {
  display: flex;
  gap: 1.5625rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.email__icon,
.address__icon,
.phone__icon {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  position: relative;
}
.address__icon {
  background-color: var(--background-address);
}
.contact__left i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.address__icon i {
  color: var(--color-address);
}
.email__icon {
  background-color: var(--background-email);
  color: var(--color-email);
}
.phone__icon {
  background-color: var(--background-phone);
  color: var(--color-phone);
}

.contact__right {
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInRight;
}
.contact__right > div {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.images__left,
.images__right {
  position: absolute;
  z-index: 2;
}
.images__left {
  top: 100px;
  left: 0;
}
.images__right {
  position: absolute;
  bottom: 80px;
}
input {
  border: 0;
  border: 1px solid rgba(214, 219, 229, 0.36);
  width: 100%;
  height: 58px;
  padding: 0 30px;
  background-color: transparent;
  border-radius: 12px;
  color: #6f6b80;
  font-size: 18px;
  padding: 0 30px;
}
textarea {
  width: 100%;
  height: 200px;
  padding: 16px 30px 30px !important;
  background-color: transparent;
  border-radius: 12px;
  color: #b9b5c9;
  border: 1px solid rgba(214, 219, 229, 0.36);
  font-size: 18px;
}
/* **** Styling the contact Section for the version mobile *** */

@media (max-width: 1478.4px) {
  .contact__header {
    padding: 0rem 9.6rem;
  }

  .contact__address {
    padding: 6rem 9.6rem;
  }
}

@media (max-width: 1232px) {
  .contact__header {
    padding: 0rem 2.5rem;
  }

  .contact__address {
    padding: 6rem 2.5rem;
  }
}

@media (max-width: 1040px) {
  .contact__header {
    width: min(100%, 1560px);
    margin-inline: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 7rem 20px 0;
    width: 100%;
  }

  .contact__left h3 {
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 0.3125em;
  }
  .contact__left span {
    font-size: 16px;
    line-height: 30px;
  }
  .contact__address {
    width: min(100%, 1560px);
    padding: 6rem 18px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
  }
  .contact__header p {
    width: 100%;
  }

  .images__left {
    top: -20px;
    left: 0;
  }
  .images__right {
    position: absolute;
    bottom: 80px;
    right: 0;
  }
  input {
    font-size: 16px;
  }
  textarea {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .contact__right > div {
    display: flex;
    flex-direction: column;
  }
}
/* **** Styling the footer Section **** */

.app__footer {
  background-color: var(--background-footer);
  padding: 0 7.6rem;
  width: 100%;
}
.footer__content {
  width: min(100%, 1560px);
  margin-inline: auto;
  display: flex;
  padding: 3.5625rem 0 3.8125rem;
  justify-content: space-between;
}
.footer__content ul {
  display: flex;
  gap: 2.625rem;
}

/* Styling the footer for the version mobile */

@media (max-width: 1040px) {
  .app__footer {
    background-color: var(--background-footer);
    padding: 0 20px;
    width: 100%;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
